netCDF4>=1.5.3
xarray>=0.15.1
numpy>=1.18.1
pyproj>=2.6.0
pytest>=4.6
PyYAML>=5.4
setuptools
m2r
sphinxcontrib-bibtex==2.3.0
docutils==0.17.1
nbsphinx==0.8.7
ipykernel
sentinelsat>=1.1.0
matplotlib
jupyter
mistune<2
